
.show1{
display: none;
}
.show2{
display: none;
}
.show3{
display: none;
}
.container{
 width: 100%;   
}
table{
padding-left: 15px;
padding-right: 15px;

}
td{
padding: 10px;
}
.contact{

align-items: center;
padding-bottom: 80px;
}
#part-a{
background-image: url("../images/h_img.jpg");
background-size: cover;
background-repeat: no-repeat;
height: 100%;
padding-top: 40px;
padding-bottom:20px;
color: white;
}
#part-c{
background-image: url("../images/s_image.jpg");
background-size: cover;
background-repeat: no-repeat;
color: white;
height:100%;
padding-top:55px;
padding-bottom: 20px;
}
#part-d{
background-image: url("../images/c_image.jpg");
background-size: cover;
background-repeat: no-repeat;
}
.row{
padding: 10px;
}
.click1,.click2,.click3{
width: 30%; 
}
#nameDetail{
margin-right: 10px;
}
input[type="text"],input[type="email"],#message{
background-color:transparent;
}
.text-center{
margin-top:20px;
}
#icon{
    margin-top: 20px;
}
#pop-up{
background-color: rgb(178, 207, 132);
position: absolute;
top: 10px;
right: 10px;
width: 50%;
display:none;
}
#part-a{
position:relative;    
}
