.intro {
background-image: url("/images/h_img.jpg");
background-repeat: no-repeat;
background-image: cover;
text-anchor:white;
padding-bottom: 80px;
padding-top: 80px;
color: white;
}
.page {
background-image:url("/images/s_image.jpg");
padding-top: 90px;
padding-bottom: 80px;
padding-left: 20px;
padding-right: 20px;
color: white;
}
.show1{
display: none;
}
.show2{
display: none;
}
.show3{
display: none;
}
.container{
 width: 100%;   
}
table{
padding-left: 15px;
padding-right: 15px;
align: center;
}
td{
padding: 10px;
}
.contact{
background-image: url("/images/c_image.jpg");
align-items: center;
padding-bottom: 80px;
}
